<ng-container>
  <div class="container">
    <div class="row">
      <div class="col-md-12"><h1 style="text-align: center;">Editando empleado {{descripcion}}</h1></div>
    </div>
  </div>
  <form [formGroup]="editEmployeeFrom" class="row justify-content-center form">
    <div class="form-group mb-4">
      <label class="label ">Primer Nombre*</label>
      <input type="text" formControlName="firstName" class="form-control" placeholder="Primer nombre" [class.is-invalid]="isInvalid('firstName')" />
    </div>
    <div class="form-group mb-4">
      <label class="label ">Otros Nombres</label>
      <input type="text" formControlName="otherNames" class="form-control" placeholder="Otros Nombres" />
    </div>
    <div class="form-group mb-4">
      <label class="label ">Primer Apellido*</label>
      <input type="text" formControlName="firstLastName" class="form-control" placeholder="Primer apellido" [class.is-invalid]="isInvalid('firstLastName')" />
    </div>
    <div class="form-group mb-4">
      <label class="label ">Segundo Apellido*</label>
      <input type="text" formControlName="secondLastName" class="form-control" placeholder="Segundo Apellido" [class.is-invalid]="isInvalid('secondLastName')" />
    </div>
    <div class="form-group mb-4">
      <label class="label ">Numero de identificacion*</label>
      <input type="text" formControlName="identificationNumber" class="form-control" placeholder="Numero de identificacion" [class.is-invalid]="isInvalid('identificationNumber')" />
    </div>
    <div class="form-group mb-4">
      <label class="label ">Tipo de identificacion*</label>
      <select class="form-control" formControlName="identificationType" [class.is-invalid]="isInvalid('identificationType')">
        <option value="">Seleccione..</option>
        <option *ngFor="let identificationType of identificationTypes"  value="{{identificationType}}"> {{identificationType}}  </option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label class="label ">Fecha de ingreso*</label>
      <input type="date" formControlName="entryDate" class="form-control" placeholder="Fecha de ingreso" [class.is-invalid]="isInvalid('entryDate')" />
    </div>
    <div class="form-group mb-4">
      <label class="label ">Area*</label>
      <select class="form-control" formControlName="area" id="area" [class.is-invalid]="isInvalid('area')">
        <option value="">Seleccione..</option>
        <option *ngFor="let area of areas"  value="{{area}}"> {{area}}  </option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label class="label ">Pais*</label>
      <select class="form-control" formControlName="country" [class.is-invalid]="isInvalid('country')">
        <option value="">Seleccione..</option>
        <option *ngFor="let country of countries"  value="{{country}}"> {{country}}  </option>
      </select>
    </div>
    <div class="form-group mb-4">
      <button class="submit btn btn-md btn-info" (click)="update()"> Actualizar </button> |
      <button class="btn btn-md btn-info" (click)="cancel()"> Cancelar </button>
    </div>
  </form>
</ng-container>
