<ng-container>
  <div class="row">

  </div>
  <div class="row" >
    <div class="col-md-9 offset-1 panel-employees">
      <div class="col-md-12">
        <h2 style="text-align: center;">Listando Empleados</h2>
      </div>
      <a (click)="create()" class="btn btn-sm btn-info mb-2" title="Crear Empleado" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add" style="color: blue;" ></mat-icon></a>
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Identification</th>
          <th>Pais</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of dataTable">
            <td>{{ employee.firstName }} {{ employee.otherNames }}</td>
            <td>{{ employee.firstLastName }} {{ employee.secondLastName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.identificationNumber }} | {{ employee.identificationType}}</td>
            <td>{{ employee.country }}</td>
            <td>
              <a (click)="edit(employee)" class="btn btn-sm" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit" ></mat-icon></a>
              <a (click)="show(employee)" class="btn btn-sm" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="visibility" style="color: blue;" ></mat-icon></a>
              <a (click)="delete(employee.id)" class="btn btn-sm" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete" ></mat-icon></a>


            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="employees.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshTable()">
        </ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="pageSize"  (ngModelChange)="refreshTable()" >
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
  </div>
</ng-container>

