<ng-container>
  <ul ngbNav #nav="ngbNav" class="nav-tabs mb-5 bg-danger nav-justified" style="height: 60px;">
    <li ngbNavItem>
      <h2 class="mt-3" style="color: white; text-align: center">Sistema de Talento Humano</h2>
    </li>
  </ul>
  <router-outlet> </router-outlet>
</ng-container>
