<ng-container style="min-width: 300px; width: 60vw">
  <div class="row" style="font-size: 20px;">
    <div class="col-md-6"><p><b>Nombres: </b> {{employee.firstName}} {{employee.otherNames}}</p></div>
    <div class="col-md-6"><p><b>Apellidos: </b> {{employee.firstLastName}} {{employee.secondLastName}}</p></div>
    <div class="col-md-6"><p><b>Email: </b> {{employee.email}}</p></div>
    <div class="col-md-6"><p><b>Identificacion: </b> {{employee.identificationNumber}} | {{employee.identificationType}}</p></div>
    <div class="col-md-6"><p><b>Pais: </b> {{employee.country}}</p></div>
    <div class="col-md-6"><p><b>Area: </b> {{employee.area}}</p></div>
    <div class="col-md-6"><p><b>Fecha de ingreso: </b> {{employee.entryDate | date:'dd/MM/YYYY'}}</p></div>
    <div class="col-md-6"><p><b>Fecha y hora de registro: </b> {{employee.createdAt | date:'dd/MM/YYYY HH:mm:ss' }}</p></div>
    <div class="col-md-6"><p><b>Estado: </b> {{employee.state ? 'Activo' : 'Inactivo'}}</p></div>
  </div>
</ng-container>
